<?xml version="1.0" encoding="utf-8"?>
<!--
 - Copyright 2016-2016 Mohawk College of Applied Arts and Technology
 -
 - Licensed under the Apache License, Version 2.0 (the "License"); you
 - may not use this file except in compliance with the License. You may
 - obtain a copy of the License at
 -
 - http://www.apache.org/licenses/LICENSE-2.0
 -
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 - WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 - License for the specific language governing permissions and limitations under
 - the License.
 -
 - User: Nityan
 - Date: 2016-2-12
 -->
<configuration>
  <configSections>
    <section name="marc.hi.ehrs.svc.core" type="MARC.HI.EHRS.SVC.Core.HostConfigurationSectionHandler, MARC.HI.EHRS.SVC.Core, Version=1.0.0.0" />
  </configSections>
  <appSettings>
    <add key="CommonFile" value="Resources\CommonData.xml" />
  </appSettings>
  <marc.hi.ehrs.svc.core>
    <serviceAssemblies>
      <add assembly="ProviderGenerator.Core.dll" />
      <add assembly="ProviderGenerator.HL7v3.dll" />
      <add assembly="ProviderGenerator.Messaging.dll" />
      <add assembly="ProviderGenerator.Randomizer.dll" />
    </serviceAssemblies>
    <serviceProviders>
      <add type="ProviderGenerator.HL7v3.HL7v3SenderService, ProviderGenerator.HL7v3, Version=1.0.0.0" />
      <add type="ProviderGenerator.Messaging.MessageHandlerService, ProviderGenerator.Messaging, Version=1.0.0.0" />
      <add type="ProviderGenerator.Randomizer.RandomizerService, ProviderGenerator.Randomizer, Version=1.0.0.0" />
    </serviceProviders>
  </marc.hi.ehrs.svc.core>
  <system.diagnostics>
    <sharedListeners>
      <add name="rollOver" type="MARC.HI.EHRS.SVC.Core.Logging.RollOverTextWriterTraceListener, MARC.HI.EHRS.SVC.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="hns.log">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error, Information, Warning" />
      </add>
    </sharedListeners>
    <trace autoflush="true">
      <listeners>
        <!--<add name="rollOver" />-->
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GenerationService" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="ProviderGenerator.Messaging.MessageReceiver.GenerationService" behaviorConfiguration="generation_service_behaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/providergenerator" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8000/providergenerator" binding="basicHttpBinding" bindingConfiguration="GenerationService" contract="ProviderGenerator.Messaging.Services.IGenerationService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="generation_service_behaviour">
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:8080/pcs" binding="basicHttpBinding" contract="MARC.Everest.Connectors.WCF.Core.IConnectorContract" name="pr" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>
