@{
    ViewBag.Title = "Home Page";
}

<div id="home" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main row">

    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p class="lead">Welcome to the Maximus Population Generation Tool.</p>
    </div>

    <div class="col-md-4">
        <h2>
            <span class="glyphicon glyphicon-equalizer"></span>
            <a href="/Generation">Generation</a>
        </h2>
        <p>
            Start generating data!
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            <span class="glyphicon glyphicon-time"></span>
            <a href="/Generation/History">History</a>
        </h2>
        <p>Easily view the previously generated data.</p>
    </div>
    <div class="col-md-4">
        <h2>
                <span class="glyphicon glyphicon-cog"></span>
                <a href="/Generation/History">Settings</a>
            </h2>
            <p>Configure different components for Maximus.</p>
    </div>
</div>